/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1, h2, h3, h4, h5, h6, a{
	font-weight: lighter;
	text-transform: capitalize;
	font-family: 'akzidenz-grotesk_bq_lightRg', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

li, p{
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	color: #333;
}
h1, h2, h3{
	color: #6c6c6c;
}
h2{
	line-height: 32px;
}
.colorRed{
	color: #e3003d;
}
.bgRed{
	background-color: #e80e48;
}
.bgWhite{
	background-color: #FFF;
}

.carousel-inner .item h1{
	position: absolute;
	margin: 0px;
	padding: 10px;
	line-height: 1.5em;
	font-weight: lighter;
	text-transform: capitalize;
	float: left;
	color: #fff;
}
.carousel-inner .item:first-child h1{
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: #e3003d;
}

.multiUseNav{
	border-top: 4px solid transparent;
	border-color: #6c6c6c;
	color: #6c6c6c;
	margin-top: 18px;
	padding-top: 8px;
}
.multiUseNav.noBorder{
	border: none;
}
.current .multiUseNav, .current h2{
	border-color: #e3003d;
	color: #e3003d;
}

.columnOne p{
	font-size: 26px;
	line-height: 1.2em;
	font-weight: lighter;
}
.columnTwo p{
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
}
.columnOne h2, .columnTwo h2{
	max-width: 400px;
}
.sectionDivider{
	border-bottom: 2px solid #6c6c6c;
	padding-bottom: 40px;
	margin-bottom: 40px;
}

.carousel-control{
	height: 55px;
	width: 55px;
	top: 47%;
	line-height: 42px;
	background-color: #000;
	opacity: 0.75;
	border: none;
	-o-border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.carousel-control.right{
	right: 0px;
}
.carousel-control.left{
	left: 0px;
}
.carouselCounter{
	position: absolute;
	right: 0px;
	top: 53%;
	width: 55px;
	height: 16px;
	opacity: 0.75;
	background-color: #000;
	color: #fff;
	font-size: 12px;
	line-height: 16px;

}
ul.positionIndicators{
	list-style: none;
	position: absolute;
	bottom: 15px;
	right: 15px;
}
ul.positionIndicators li{
	width: 15px;
	height: 15px;
	background-color: #96928f;
	margin-left: 2px;
}
ul.positionIndicators li:hover{
	cursor: pointer;
}
ul.positionIndicators li:first-child{
	margin-left: 0px;
}
ul.positionIndicators li.active{
	background-color: #ea0053;
}
.nav-collapse .nav{
	background-color: transparent;
}

.span3{
	display: block;
	position: relative;
	height: 328px;
}
.span3 .imgLinkCont{
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.span3 .imgLinkCont img{
	position: absolute;
}
.span3 .imgLinkCont .imgOverlay{
	display: block;
	position: absolute;
	height: 298px;
	overflow: hidden;
	background-color: #262626;
	color: #fff;
	padding: 0px 10px 10px 10px;
	opacity: 0;
	transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
}
.span3:hover .imgLinkCont .imgOverlay{
	opacity: 1;
}
.span3 .imgLinkCont .imgOverlay h4{
	line-height: 1.2em;
	font-weight: lighter;
	color: #FFF;
}
.span3 .imgLinkCont .imgOverlay p{
	font-size: 12px;
	line-height: 1.2em;
	font-weight: lighter;
	color: #FFF;
}
.span3 .imgOverlay a{
	color: #FFF;
	position: absolute;
	bottom: 10px;
}

.carousel{
	background-color: #000;
	max-height: 800px;
	overflow: hidden;
}
.carousel-inner .item img{
	margin: 0px auto;
	position: relative;
}
.carousel-inner .item video{
	display: block;
	margin: 0px auto;
	vertical-align: top;
	border: 0;
}
.span3 h3{
	color: #404040;
}
.span3 p{
	color: #868686;
}


.modalOverlay{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #333;
	opacity: 0.95;
	z-index: 9000;
}
.galleryModal{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 960px;
	height: 600px;
	margin: -300px auto auto -480px;
	z-index: 9900;
}
.showGalleryModal{
	display: block;
}


@media (min-width: 1200px) {
	
	.row-fluid .span2.multiUseNav {
		width: 120px;
		margin-right: 30px;
	}
	.linkGrid .span3{
		width: 250px;
		height: 350px;
	}
	.linkGrid .span3 .imgOverlay{
		width: 230px;
		height: 340px;
	}
	.carousel{
		max-height: 800px;
	}
	.carousel-inner .item img, .carousel-inner .item video{
		max-height: 800px;
	}
}

@media (min-width: 980px) {
	
	.row-fluid .span2.multiUseNav {
		width: 120px;
		margin-right: 20px;
	}
	.linkGrid .span3{
		height: 350px;
	}
	.carousel{
		max-height: 800px;
	}
}

@media (max-width: 979px) and (min-width: 768px){
	.linkGrid .span3 .imgOverlay{
		width: 146px;
		height: 222px;
	}
	.linkGrid .span3{
		display: block;
		position: relative;
		height: 232px;
	}
	.linkGrid .span3, imgLinkCont{
		height: 329px;
	}
}

@media (max-width: 767px) {
	.columnTwo, .multiUseNav{
		padding: 0 10px 0 10px;
	}
	.linkGrid .span3 img{
		display: block;
		margin: 0px auto;
	}
	.imgLinkCont{
		position: relative;
		display: block;
		margin: 0px auto;
		width: 250px;
		height: 329px;
		margin-bottom: 40px;
	}
	.span3 .imgLinkCont img{
		display: block;
		position: relative;
		margin: 0px auto;
	}
	.span3 .imgLinkCont .imgOverlay{
		display: block;
		position: absolute;
		top: 0px;
		left: 50%;
		margin-left: -125px;
		width: 230px;
		height: 368px;
	}
	
}

@media (max-width: 480px) {
	.columnTwo, .multiUseNav{
		padding: 0 10px 0 10px;
	}
	.linkGrid .span3 img{
		display: block;
		margin: 0px auto;
	}
	.columnTwo p {
		-webkit-column-count: 1;
		-webkit-column-gap: 0px;
		-moz-column-count: 1;
		-moz-column-gap: 10px;
		column-count: 1;
		column-gap: 0px;
	}
}