/*
	Default styling for ATTIK build for 960
*/
html, body{
	height: 100%;
}
ul{
	list-style: none;
	
}
h1, h2, h3, h4, h5, h6, a{
	font-family: 'akzidenz-grotesk_bq_regularRg';
}
a{
	text-decoration: none;
	color: #404040;
}
a:hover{
	color: #e3003d;
}
p{
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0px;
}
/*Hero Image Overlay Text*/
h1{
	
}
/*Section Title Header*/
h2{
	color: #919191;
	font-size: 24px;
	line-height: 24px;
	font-weight: lighter;
	margin: 0px 0px 16px 0px;
}
/*Multiuse column header*/
h3{
	font-size: 16px;
	line-height: 18px;
	font-weight: lighter;
	margin: 8px 0px 20px 0px;
	color: #919191;
}
h4{
	font-size: 18px;
	line-height: 16px;
	color: #404040;
	font-weight: lighter;
	margin: 0px 0px 11px 0px;
}
/*modal caption*/
h5{
	display: block;
	margin: 0px 0px 10px 0px;
	color: #e3003d;
	font-size: 18px;
	line-height: 18px;
}


/*
	Non-Semantic Classes
*/
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.clearFix{
	clear: both;
}
.show{
	display: block;
}
.bgRed{
	background-color: #e80e48;
}
.colorRed{
	color: #e3003d;
}
.bgWhite{
	background-color: #FFF;
}
.colorWhite{
	color: #FFF;
}



/*
	Main Content Containers
*/
.wrapper{
	position: relative;
}
header, .container, footer{
	display: block;
	position: relative;
	width: 960px;
	margin: 0px auto;
	overflow: auto;
}
.row{
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-bottom: 30px;
}

.colMultiUse{
	display: block;
	width: 120px;
	float: left;
	border-top: 4px solid #919191;
}
.colMultiUse ul{
	margin: 0px;
	padding: 0px;
}
.colMultiUse ul li a{
	font-size: 12px;
}

.items{
	display: block;
	width: 780px;
	margin-left: 60px;
	padding-bottom: 30px;
	float: left;
}
.items.col1 p{
	color: #404040;
	font-size: 26px;
	line-height: 36px;
	-moz-column-count:1; /* Firefox */
	-webkit-column-count:1; /* Safari and Chrome */
	column-count:1;
	-moz-column-gap:0px; /* Firefox */
	-webkit-column-gap:0px; /* Safari and Chrome */
	column-gap:0px;
}
.items.col2 p{
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
	-moz-column-gap:20px; /* Firefox */
	-webkit-column-gap:20px; /* Safari and Chrome */
	column-gap:20px;
}
.items .col3{
	width: 250px;
	margin-left: 15px;
	display: block;
	float: left;
}
.items .col3:first-child{
	margin-left: 0px;
}
.items .col3 p{
	color: #868686;
}

.items.gallery a, .items.related a{
	display: inline-block;
}
.items.gallery a{
	padding: 0px;
	margin: 0px 0px 0px 16px;
}
.items.gallery a:first-child{
	margin: 0px;
}

.items.related a {
	padding: 0px;
	margin: 0px 0px 11px 11px;
}
.items.related a:nth-child(3n+1){
	margin: 0px;
}
.sectionDivider{
	border-bottom: 2px solid #cdcdcd;
}
.row.active .colMultiUse, .row.active .colMultiUse h3, .row.active .items h2{
	color: #e3003d;
	border-top-color: #e3003d;
}



/*
	Global Nav
*/
nav{
	position: fixed;
	overflow: hidden;
	height: 40px;
	z-index: 1000;
}
nav ul{
	overflow: auto;
	margin: 0px;
	padding: 0px;
}
nav ul li{
	float: left;
	padding: 0 20px 0 20px;
	background-color: #1a171b;
}
nav ul li:first-child{
	padding: 0;
}
nav ul li a{
	display: block;
	color: #FFF;
	line-height: 40px;
	font-size: 12px;
}



/*
	Hero Carousel
*/
.heroCarousel{
	display: block;
	position: relative;
	width: 100%;
	min-height: 225px;
	max-height: 800px;
	overflow: hidden;
	margin-bottom: 58px;
}
.inner-carousel{
	max-width: 1600px;
	max-height: 800px;
	margin: 0px auto;
}
.inner-carousel .item {
	background: url('../img/hpFeat_HelloAttik.jpg') no-repeat;
	background-size: contain;
	max-height: 800px;
}
.inner-carousel .item img{
	width: 100%;
	max-height: 800px;
	height: auto;
}



/*
	Image Modal
*/
.overlay{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.9;
	z-index: 9000;
}
.modal{
	display: none;
	position: fixed;
	width: 960px;
	height: 670px;
	top: 50%;
	left: 50%;
	margin-top: -335px;
	margin-left: -480px;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	background-color: #333;
	z-index: 9900;
	overflow: hidden;
}
.modal .frame{
	display: none;
}
.modal .frame .caption{
	width: auto;
	height: 60px;
	background-color: #000;
	padding: 10px 25px 0px 25px;
}
.modal .frame .caption a{
	color: #919191;
	font-size: 12px;
}
.modal .frame .caption a:hover{
	color: #e3003d;
}



/*
	Footer
*/
footer ul{
	padding: 0px;
	overflow: auto;
}
footer ul li{
	float: left;
	margin: 10px 20px 10px 20px;
}
footer ul li:first-child{
	margin-left: 0px;
}
footer ul li a{
	font-size: 12px;
	line-height: 16px;
	color: #404040;
	text-transform: uppercase;
}



/*
	Responsive Layers
*/
/* Portrait tablet to landscape and desktop */
@media (min-width: 769px) and (max-width: 979px) {
	
	header, .container, footer{
		width: 710px;
	}
	
	.items{
		width: 565px;
		margin-left: 25px;
	}
	.items.col2 p{
		-moz-column-count:1; /* Firefox */
		-webkit-column-count:1; /* Safari and Chrome */
		column-count:1;
		-moz-column-gap:0px; /* Firefox */
		-webkit-column-gap:0px; /* Safari and Chrome */
		column-gap:0px;
	}
	.items .col3{
		width: 178px;
	}
	
	.items.gallery a img{
		width: 105px;
		height: 145px;
	}
	.items.gallery a{
		padding: 0px;
		margin: 0px 0px 0px 5px;
	}
	.items.gallery a:first-child{
		margin: 0px;
	}
	
	.items.related a {
		padding: 0px;
		margin: 0px 0px 11px 10px;
	}
	.items.related a:nth-child(2n+1){
		margin-left: 0px;
	}
	.items.related a img{
		width: 275px;
		height: auto;
	}
	
	.modal{
		width: 768px;
		height: auto;
		margin-left: -384px;
	}
	.modal .frame img{
		width: 768px;
		height: auto;
	}
	
	footer ul li{
		float: left;
		margin: 10px 12px 10px 12px;
	}
}
 
/* Landscape phones and down */
@media (max-width: 768px) {
	
	header, .container, footer{
		width: 600px;
	}
	
	.inner-carousel, .inner-carousel .item, .inner-carousel .item img{
		width: 640px;
	}

	.sectionDivider{
		border-bottom: none;
	}
	.colMultiUse{
		width: 600px;
	}
	.colMultiUse ul{
		display: none;
	}
	.items{
		width: 600px;
		margin: 0px auto;
	}
	.items.col2 p{
		width: 600px;
		-moz-column-count:1; /* Firefox */
		-webkit-column-count:1; /* Safari and Chrome */
		column-count:1;
		-moz-column-gap:0px; /* Firefox */
		-webkit-column-gap:0px; /* Safari and Chrome */
		column-gap:0px;
	}
	.items .col3{
		float: left;
		width: 600px;
		margin: 0px 0px 40px 0px;
	}
	
	.items.gallery a{
		padding: 0px;
		margin: 0px 0px 11px 10px;
	}
	.items.gallery a:nth-child(4n){
		margin-left: 0px;
	}
	.items.gallery a img{
		width: 190px;
		height: auto;
	}
	
	.items.related a {
		padding: 0px;
		margin: 0px 0px 11px 10px;
	}
	.items.related a:nth-child(4n){
		margin-left: 0px;
	}
	.items.related a img{
		width: 190px;
		height: auto;
	}
	
	.modal{
		width: 640px;
		height: auto;
		margin-left: -320px;
	}
	.modal .frame img{
		width: 640px;
		height: auto;
	}
	
	footer ul li{
		float: left;
		margin: 10px 5px 10px 5px;
	}
	
}